In [9]:
import pandas as pd

In [10]:
import os

In [11]:
os.getcwd()

'/Users/darraghoneill'

In [12]:
Sales_data = pd.read_csv('/Users/darraghoneill/Python Project/Dataset/archive/grocery_sales_v1.csv', index_col=0, parse_dates=['new_order_date'])

In [13]:
Sales_data.head()

,customer_name,new_order_date,order_year,month_name,order_month,order_day,category,sub_category,net_sales,discount,profit,total_sales,profit_percentage,region,city
order_id,,,,,,,,,,,,,,,
OD1,Harish,2017-11-08,2017,November,11,8,Oil & Masala,Masalas,852.72,0.12,401.28,1254,47.058824,North,Vellore
OD2,Sudha,2017-11-08,2017,November,11,8,Beverages,Health Drinks,599.20,0.18,149.80,749,25.000000,South,Krishnagiri
OD3,Hussain,2017-06-12,2017,June,6,12,Food Grains,Atta & Flour,2194.80,0.21,165.20,2360,7.526882,West,Perambalur
OD4,Jackson,2016-10-11,2016,October,10,11,Fruits & Veggies,Fresh Vegetables,806.40,0.25,89.60,896,11.111111,South,Dharmapuri
OD5,Ridhesh,2016-10-11,2016,October,10,11,Food Grains,Organic Staples,1436.55,0.26,918.45,2355,63.934426,South,Ooty

In [14]:
Sales_data.shape

(9994, 15)

In [15]:
missing_values_count=Sales_data.isnull().sum()

In [16]:
print(missing_values_count[0:])

customer_name        0
new_order_date       0
order_year           0
month_name           0
order_month          0
order_day            0
category             0
sub_category         0
net_sales            0
discount             0
profit               0
total_sales          0
profit_percentage    0
region               0
city                 0
dtype: int64

In [17]:
drop_duplicates = Sales_data.drop_duplicates()
print(Sales_data.shape, drop_duplicates.shape)

(9994, 15) (9994, 15)

In [18]:
Sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, OD1 to OD9994
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_name      9994 non-null   object
 1   new_order_date     9994 non-null   datetime64[ns]
 2   order_year         9994 non-null   int64
 3   month_name         9994 non-null   object
 4   order_month        9994 non-null   int64
 5   order_day          9994 non-null   int64
 6   category           9994 non-null   object
 7   sub_category       9994 non-null   object
 8   net_sales          9994 non-null   float64
 9   discount           9994 non-null   float64
 10  profit             9994 non-null   float64
 11  total_sales        9994 non-null   int64
 12  profit_percentage  9994 non-null   float64
 13  region             9994 non-null   object
 14  city               9994 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(6)
memory usage: 1.2+ MB

In [21]:
Sales_data.groupby(['category','sub_category']).median()

                                      order_year  order_month  order_day  \
category          sub_category
Bakery            Biscuits                2017.0          9.0       17.0
                  Breads & Buns           2017.0          9.0       16.0
                  Cakes                   2017.0          8.0       15.0
Beverages         Health Drinks           2017.0          8.0       16.0
                  Soft Drinks             2017.0          9.0       16.0
Eggs, Meat & Fish Chicken                 2017.0          9.0       13.0
                  Eggs                    2017.0          9.0       17.0
                  Fish                    2017.0          9.0       16.0
                  Mutton                  2017.0          9.0       14.0
Food Grains       Atta & Flour            2017.0          9.0       14.0
                  Dals & Pulses           2017.0          9.0       14.0
                  Organic Staples         2017.0          8.0       17.0
                  Rice                    2017.0          9.0       17.5
Fruits & Veggies  Fresh Fruits            2017.0          9.0       14.0
                  Fresh Vegetables        2017.0          8.0       15.0
                  Organic Fruits          2017.0          9.0       17.0
                  Organic Vegetables      2017.0          9.0       16.0
Oil & Masala      Edible Oil & Ghee       2017.0          9.0       15.0
                  Masalas                 2017.0          9.0       13.0
                  Spices                  2017.0          8.0       16.0
Snacks            Chocolates              2017.0          9.0       16.0
                  Cookies                 2017.0          9.0       16.0
                  Noodles                 2017.0          8.0       15.0

                                      net_sales  discount   profit  \
category          sub_category
Bakery            Biscuits             1094.150      0.23  296.730
                  Breads & Buns        1033.550      0.23  327.760
                  Cakes                1132.355      0.22  318.350
Beverages         Health Drinks        1056.900      0.23  320.880
                  Soft Drinks          1118.810      0.23  331.520
Eggs, Meat & Fish Chicken              1111.260      0.23  296.520
                  Eggs                 1101.420      0.23  327.600
                  Fish                 1106.000      0.23  350.550
                  Mutton               1172.000      0.22  344.040
Food Grains       Atta & Flour         1115.730      0.23  294.000
                  Dals & Pulses        1107.630      0.23  323.200
                  Organic Staples      1098.110      0.24  329.770
                  Rice                 1130.080      0.23  340.880
Fruits & Veggies  Fresh Fruits         1096.920      0.23  312.400
                  Fresh Vegetables     1072.590      0.23  321.570
                  Organic Fruits       1066.450      0.23  319.975
                  Organic Vegetables   1107.510      0.24  363.940
Oil & Masala      Edible Oil & Ghee    1087.020      0.23  310.200
                  Masalas              1101.600      0.22  314.340
                  Spices               1097.250      0.22  300.450
Snacks            Chocolates           1072.540      0.23  316.910
                  Cookies              1110.540      0.21  305.150
                  Noodles              1061.580      0.22  340.250

                                      total_sales  profit_percentage
category          sub_category
Bakery            Biscuits                 1531.0          33.333333
                  Breads & Buns            1454.5          35.135135
                  Cakes                    1533.0          33.333333
Beverages         Health Drinks            1483.0          31.578947
                  Soft Drinks              1537.0          33.333333
Eggs, Meat & Fish Chicken                  1459.5          30.724539
                  Eggs                     1541.0          33.333333
                  Fish                     1508.0          36.986301
                  Mutton                   1593.0          31.578947
Food Grains       Atta & Flour             1497.0          28.205128
                  Dals & Pulses            1563.0          31.578947
                  Organic Staples          1547.0          33.333333
                  Rice                     1548.5          35.135135
Fruits & Veggies  Fresh Fruits             1483.0          31.578947
                  Fresh Vegetables         1444.0          35.135135
                  Organic Fruits           1414.0          36.986301
                  Organic Vegetables       1438.0          35.135135
Oil & Masala      Edible Oil & Ghee        1486.0          33.333333
                  Masalas                  1540.0          31.578947
                  Spices                   1444.0          29.870130
Snacks            Chocolates               1470.0          35.135135
                  Cookies                  1478.5          33.333333
                  Noodles                  1432.0          35.135135